In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Filter').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/18 12:37:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/18 12:37:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [10]:
df_pyspark = spark.read.csv('test2.csv', header= True, inferSchema= True)

In [11]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [14]:
### Salary less than 20,000
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [15]:
## Multiple condition using & operator
df_pyspark.filter((df_pyspark['Salary']<=20000) & 
                  (df_pyspark['Salary']>=15000)).select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [16]:
## Multiple condition using | operator
df_pyspark.filter((df_pyspark['Salary']<=20000) |
                  (df_pyspark['Salary']>=15000)).select(['Name','Age']).show()

+---------+----+
|     Name| Age|
+---------+----+
|    Krish|  31|
|Sudhanshu|  30|
|    Sunny|  29|
|     Paul|  24|
|   Harsha|  21|
|  Shubham|  23|
|   Mahesh|null|
|     null|  34|
+---------+----+

In [20]:
## Inverse ~ filter operation
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+